<a href="https://colab.research.google.com/github/ValesckaBarros/Logica-de-Programacao-Python/blob/main/Logica_de_programa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variáveis e tipos de dados em python

python possui tipagem dinamica

linguagem interpretada

**Tipos de dados**
1.   **número inteiro** - int
2.   **número de ponto flutuante** - real - float
3.   **um único caractere** - caractere -  str
4.   **texto** - caractere - str
5.   **valor lógico** - logico -  boolean

In [ ]:
# idade: int
# salario: float
# altura: float
# genero: str
# nome: str

idade = 20
salario = 5800.5
altura = 1.63
genero = "F"
nome = 'Maria silva'
# escreva - mostrar alguma informação na tela
# print ~ escreva

# escreva("idade = ", idade)
print(f'idade = {idade}') # "f" serve para interpolar texto c/ variaveis


print(f'salario = {salario:.2f}')


print(f'altura = {altura:.1f}')

print(f'genero = {genero}')

print(f'nome = {nome}')

print("nome: ", nome)

idade = 20
salario = 5800.50
altura = 1.6
genero = F
nome = Maria silva
nome:  Maria silva

#Operadores em Python

**operadores aritméticos**
1. (+)  adição
2. (-)  subtração
3. (*)  multiplicação
4. (/)  divisão
5. (%)  resto da divisão
6. (**) exponeciação
7. (//) divisão inteira

In [ ]:
x=5
y=2

a = x+y
b = x-y
c = x*y
d = x/y
e = x%y
f = x//y

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

7
3
10
2.5
1
2

**operadores comparativos**
1. (<) menor
2. (>) maior
3. (<=) menor ou igua
4. (>=) maior ou igual
5. (==) igual
6. (!=) ou (<>) diferente

In [ ]:
x=5
y=2

a = x>y
b = x<y
c = x<=y
d = x>=y
e = x==y
f = x!=y

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

True
False
False
True
False
True

**operadores lógicos**
1. (and) e
2. (or)  ou
3. (not) não

#Saída de dados

In [ ]:
print('olá mundo!!!')

olá mundo!!!

In [ ]:
print('bom dia!!')
print("boa noite!!")

# "" ou '' funcionam da mesma forma
# por padrão o python imprime os valores um em baixo do outro

bom dia!!
boa noite!!

In [ ]:
print('bom dia!!', end='') # comando para não quebra linha
print("boa noite!!")

bom dia!!boa noite!!

In [ ]:
# Placeholder de formatação
# %d :int
# %f :float
# %s :str

x = 'Maria'
y = 19

print('%s tem %d anos' %(x,y))

Maria tem 19 anos

In [ ]:
# imprimindo apenas a variável
x = 10
y = 20

print(x)
print(y)
print(x,'\n',y)

10
20
10
 20

In [ ]:
#formatando um float
x = 2.3456
print("{:f}".format(x)) #por padrão utiliza 6 casas após a vírgula
print("{:.2f}".format(x))

2.345600
2.35

In [ ]:
#interpolando dados
idade = 32
salario = 4560.9
nome = 'Maria silva'
sexo = 'f'

print(f'A funcionária {nome}, sexo {sexo}, ganha R$ {salario} e tem {idade} anos')
print(f'A funcionária {nome}, sexo {sexo}, ganha R$ {salario:.2f} e tem {idade} anos')

A funcionária Maria silva, sexo f, ganha R$ 4560.9 e tem 32 anos
A funcionária Maria silva, sexo f, ganha R$ 4560.90 e tem 32 anos

In [ ]:
#usando placeholders
idade = 32
salario = 4560.9
nome = 'Maria silva'
sexo = 'f'

print('A funcionária {:s}, sexo {:s}, ganha R$ {:.2f} e tem {:d} anos'.format(nome,sexo,salario,idade))

A funcionária Maria silva, sexo f, ganha R$ 4560.90 e tem 32 anos

#Processamento de dados e casting no Python

In [ ]:
x:int
y:int

x=5
y=5*2

print(x)

In [ ]:
x:int
y:float

x=5
y=5*2

print(x)

5

In [ ]:
b1: float; b2: float; h: float; area: float
b1 = 6.0
b2 = 8.0
h = 5.0
area = (b1 + b2) / 2.0 * h
print(area)

35.0

In [ ]:
#a:int
#b:int
#resultado:int

a=5
b=2

resultado= a/b
print(resultado)

type(resultado)

2.5

float

In [ ]:
#para obter um resultado inteiro, necessário fazer divisão inteira
resultado= a//b
print(resultado)

In [ ]:
a: float
b: int
a = 5.0
b = a
print(b)
type(b)
#mesmo b sendo do tipo int,
#o python mantém o valor de a na variavel b

5.0

float

In [ ]:
#para obter apenas a parte inteira do número:
a: float
b: int
a = 5.0
b = int(a)
c=str(a)
print(c)

5.0

#Entrada de dados

In [ ]:
#salario1: float
#salario2: float
#nome1: str
#nome2: str
#idade: int
#sexo: str

#escreva("digite o nem da primeira pessoa: ")
#leia(nome1)
#escreva(nome1)

nome1 = input("Nome da primeira pessoa: ")
print(nome1)
type(nome1)

Nome da primeira pessoa: 123
123

str

In [ ]:
#float() faz a conversão de str p/ float
salario1 = float(input("Salario da primeira pessoa: "))
type(salario1)

Salario da primeira pessoa: 1526.45

float

In [ ]:
nome2 = input("Nome da segunda pessoa: ")
salario2 = float(input("Salario da segunda pessoa: "))

Nome da segunda pessoa: pipoca
Salario da segunda pessoa: 1.25

In [ ]:
idade = int(input("Digite uma idade: "))
#int() faz a conversão de str p/ inteiro
sexo = input("Digite um sexo (F/M): ")

Digite uma idade: 25
Digite um sexo (F/M): f

In [ ]:
print(f"Nome 1: {nome1}")
print(f"Salario 1: {salario1:.2f}")
print(f"Nome 2: {nome2}")
print(f"Salario 2: {salario2:.2f}")
print(f"Idade: {idade}")
print(f"Sexo: {sexo}")

Nome 1: 123
Salario 1: 1526.45
Nome 2: pipoca
Salario 2: 1.25
Idade: 25
Sexo: f

#Estrutura condicional: IF

**Estrutura simples**

In [ ]:
x= 10
print('bom dia')

#estrutura condicional SE
if x==0:
  print('boa tarde')
print('boa noite')

bom dia
boa noite

In [ ]:
x= 10

print('bom dia')
if x<0:
  print('boa tarde')
print('boa noite')

**Estrutura composta**

In [ ]:
#hora: int
hora = int(input("Digite uma hora do dia: "))
if hora < 12:
 print("Bom dia!")
else: # SENÃO
 print("Boa tarde!")

Digite uma hora do dia: 15
Boa tarde!

**Encadeamento**

In [ ]:
#hora: int
hora = int(input("Digite uma hora do dia: "))
if hora < 12:
 print("Bom dia!")
elif hora< 18: #SENAO-SE
  print("Boa tarde!")
else:
 print("Boa noite!")

Digite uma hora do dia: 20
Boa noite!

# Estrutura repetitiva: WHILE

**Sintaxe**

while **condição**:

comando1

comando2

In [3]:
soma = 0
x = int(input("Digite o primeiro numero: "))

while x != 0:
 soma += x

 # += incremento
 # -= decremento

 x = int(input("Digite outro numero: "))

print("SOMA = ", soma)

Digite o primeiro numero: 5
Digite outro numero: 7
Digite outro numero: 2
Digite outro numero: 9
Digite outro numero: 23
Digite outro numero: 15
Digite outro numero: 78
Digite outro numero: 0
SOMA =  139

# Estrutura repetitiva: FOR

**Sintaxe**

for **variavel** in range(valor_inicial, valor_final, [passo]):

comando1

comando2

In [7]:
N = int(input("Quantos numeros serao digitados? "))
soma = 0
for i in range(0, N):
  x = int(input("Digite um numero: "))
  soma += x
print("SOMA = ", soma)

Quantos numeros serao digitados? 1
Digite um numero: 5
Digite um numero: 3
Digite um numero: 2
Digite um numero: 4
Digite um numero: 5
Digite um numero: 7
Digite um numero: 8
Digite um numero: 9
Digite um numero: 1
Digite um numero: 2
Digite um numero: 3
Digite um numero: 4
Digite um numero: 5
Digite um numero: 6
Digite um numero: 7
Digite um numero: 8
Digite um numero: 9
Digite um numero: 1
Digite um numero: 2
Digite um numero: 4
SOMA =  95